= semantic_nested_form_for [:admin, @work], html: {multipart: true, :"data-abide" =>''} do |f|

  .row
    .small-12.large-6.columns#error_explanation
      - unless @work.errors.empty?
        %h2= "#{pluralize(@work.errors.count, "error")} prohibited this work from being saved:"
        %ul
          - @work.errors.full_messages.each do |msg|
            %li= msg
  
  .row
    .small-12.large-6.columns= f.input :title, input_html: {required: ''}
  .row
    .small-12.large-6.columns= f.input :artist_ids, as: :select, collection: Artist.all, input_html: {class: :chosen_select, required: ''}, multiple: true, label: 'Artist(s)'
  .row
    .small-12.large-6.columns= f.input :activities, as: :check_boxes, label: 'Exhibitions', collection: Activitytype.where(name: 'Exhibitions').map(&:activities).flatten, input_html: { required: ''}
  .row  
    .small-12.columns= f.input :description, as: :ckeditor, input_html: {required: ''}
  

  .row
    .small-12.large-7.columns
      = f.fields_for :photos do |ff|
        - if ff.object.image?
          = image_tag ff.object.image.url(:box)
        = ff.input :image
        = ff.link_to_remove "Remove this photo"
      = f.link_to_add "Add a photo", :photos

      

  .row
    .small-12.large-6.columns= f.submit 'Save', class: [:button, :small]
= content_for :jquery do 
  :plain  


    $('.chosen_select').chosen();