.row
  .small-12.columns
    %h3 Works
.row
  .small-12.columns
    = link_to 'New work', new_admin_work_path, class: [:button, :small]
    %table
      %thead
        %tr
          %th= sortable_column "Title"
          %th= sortable_column "Exhibition"
          %th= sortable_column "Artist"
          %th

      
      %tbody
        - @works.each do |work|
          %tr
            %td= work.title
            %td= work.activities.map(&:name).join(' / ')
            %td= work.artists.map(&:name).join(", ")

            %td 
              -#= link_to 'Show', event, class: [:button, :tiny], target: :_blank
              = link_to 'Edit', edit_admin_work_path(work), class: [:button, :tiny]
              = link_to 'Destroy', [:admin, work], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :tiny, :alert]

    %br

    = link_to 'New work', new_admin_work_path, class: [:button, :small]
