.about_page.project_detail
  .row
    .small-10.small-centered.medium-12.columns
      .heading
        Press release
  .row
    .small-10.small-centered.medium-12.columns
      %h3.project_subtitle= @pressrelease.title

  .row
    .small-10.small-centered.medium-12.columns= render partial: 'shared/about_menu'

  .row
    .small-12.columns
      - if @pressrelease.image?
        .page_image= image_tag @pressrelease.image.url
        .text.press_release
          .excerpt
            .date= l @pressrelease.published_at.to_date, format: :long
            = link_to 'Download as PDF', @pressrelease.attachment.url, class: [:pressrelease, :button]
            = raw clean_whitespace(sanitize(@pressrelease.body, tags: %w{table tr th h2 h3 h4 h5 h6 h1 td tbody thead img a p br i em bold strong b u}, attributes: %w(href alt target src)))
.page_detail{class: @project.nil? ? false : :project_detail}
