.row
  .small-12.columns
    %h1 Project partners

    %table
      %thead
        %tr
          %th Name
          %th Website
          %th Actions
      
      %tbody
        - @admin_partners.each do |admin_partner|
          %tr
            %td= admin_partner.name
            %td= link_to admin_partner.website, admin_partner.website, target: :_blank
            %td{colspan: 3}
              = link_to 'Show', admin_partner, class: [:button, :small]
              = link_to 'Edit', edit_admin_partner_path(admin_partner), class: [:button, :small]
              = link_to 'Destroy', admin_partner, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :small, :alert]
.row
  .small-12.columns= link_to 'New Partner', new_admin_partner_path, class: [:button, :small]
