.row
  .small-12.columns
    %h1 Funders and partners
.row
  .small-12.columns
    = link_to 'New Partner', new_admin_partner_path, class: [:button, :small]
    %table
      %thead
        %tr
          %th Logo
          %th Name
          %th Website
          %th Projects
          %th Actions

      %tbody
        - @admin_partners.each do |admin_partner|
          %tr
            %td
              - if admin_partner.hmlogo?
                = image_tag admin_partner.hmlogo.url(:thumb)
                %br/
              - if admin_partner.logo?
                = image_tag admin_partner.logo.url(:standard)
            %td= admin_partner.name
            %td= link_to admin_partner.website, admin_partner.website, target: :_blank
            %td
              - admin_partner.projects.each do |project|
                %p= project.name
            %td{colspan: 3}
              = link_to 'Show', admin_partner, class: [:button, :small]
              = link_to 'Edit', edit_admin_partner_path(admin_partner), class: [:button, :small]
              = link_to 'Destroy',[:admin, admin_partner], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :small, :alert]
.row
  .small-12.columns= link_to 'New Partner', new_admin_partner_path, class: [:button, :small]
