.project_detail
  .row
    .small-12.columns
      %h1.project_title
        = @project.name
        - unless @project.ongoing == true
          %span.years= @project.year_range
      %h3.project_subtitle= @project.subtitle

  .row
    .small-12.columns= render partial: 'shared/project_menu'


  .row
    .small-12.columns.project_indented
      - unless @about.nil?
        .text_box
          .red{class: @about.image? ? :has_image : false}= link_to @about.title, project_page_path(@project, @about)
          - if @about.image?
            .image= image_tag @about.image.url.gsub(/development/, 'production')
          .body.about_excerpt{class: [@calls.empty? ? false : :has_call]}
            - if @project.slug == 'ars-bioarctica'
              = raw @about.body
            - else
              = raw @about.excerpt
            - unless @calls.empty?
              - @calls.each do |call|
                .side_link= link_to call.name, call


      - unless @project.posts.empty?
        .blog_container
          .red= link_to 'News', project_posts_path(@project)
          .row.small-up-1.medium-up-2.large-up-3.xxlarge-up-4.post_carousel
            - @project.posts.published.order(published_at: :desc).take(12).each do |post|
              = link_to post, class: [:post, :columns] do
                .post_image{style: "background: url(#{post.photos.empty? ? theme_image_path('placeholder.png') : post.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat"}
                  -#.hashtag
                  -#  = "##{post.node.name}"
                .post_content
                  .title= truncate_html(post.title, length: 40)
                  .excerpt= truncate_html(sanitize(post.body, tags: %w{b  astrong bold i italic em u underline }, attributes: %w(href target src)), length: 150)
                  - if post.project
                    - if post.project.slug == 'ars-bioarctica'
                      .index_author
                        - if post.wordpress_author.blank?
                          = "#{post.user.name} | #{post.published_at.strftime('%-d %B %Y')}"
                        - elsif !post.wordpress_author.blank? && post.user.email == 'erich.berger@bioartsociety.fi'
                          = "#{post.wordpress_author} | #{post.published_at.strftime('%-d %B %Y')}"
        = content_for :jquery do
          :plain
            $('.post_carousel').slick({infinite: true,
                arrows: true,

                adaptiveHeight: false,
                prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;"></button>',
                nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;"></button>',
                variableWidth: false,
                autoplay: true,
                autoplaySpeed: 4500,
                slidesToScroll: 1,
                slidesToShow: 3,
                responsive: [
                    {
                      breakpoint: 480,
                      settings: {
                        autoplay: true,
                        autoplaySpeed: 3000,
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                  },
                  {
                    breakpoint: 767,
                    settings: {
                      autoplay: true,
                      autoplaySpeed: 3000,
                      slidesToShow: 2,
                      slidesToScroll: 1
                    }
                  }
                ]
              });;
      - @project.pages.roots.each do |page|
        - next if page.is_project_overview == true
        .text_box{class: page.children.empty? ? false : :has_children}
          .red= link_to  page.title, project_page_path(@project, page)
          - if page.children.empty?
            .body
              - if !page.excerpt.blank?
                = raw sanitize(page.excerpt, tags: %w{b strong bold i italic em u underline br})
              - else
                - if page.split_on_h3 == true
                  = raw truncate_html(sanitize(page.body, tags: %w{b p strong bold i italic em u underline br}), length: 150)
                - else
                  = raw truncate_html(sanitize(page.body, tags: %w{b p strong bold i italic em u underline br}), length: 450)

                .side_link= link_to 'Read more', page
            - if page.image?
              .image= image_tag page.image.url
          - else
            .row.small-up-1.medium-up-2.large-up-3.page_children
              - page.children.each do |child|
                = link_to project_page_path(@project, child), class: [:page, :columns] do
                  .page_image{style: "background: url(#{child.image? ?  child.image.url(:box).gsub(/development/, 'production') : @project.image.url }) center/cover no-repeat"}
                  .page_content
                    .title= child.title
                    .excerpt
                      - if child.excerpt.blank?
                        = raw truncate_html(sanitize(child.body, tags: %w{b strong bold i italic em u underline br}), length: 150)
                      - else
                        = raw truncate_html(sanitize(child.excerpt, tags: %w{b strong bold i p italic em u underline br}), length: 150)


      / - unless @project.partners.empty?
      /   .collaborators_container
      /     .red Collaborators
      /     .row.small-up-2.medium-up-3.large-up-4.xxlarge-up-5.collaborators
      /       - @project.partners.each do |collaborator|
      /         = link_to collaborator.website, target: :_blank, class: [:collaborator, :columns] do
      /           = image_tag collaborator.logo.url.gsub(/development/, 'production')
