
- @activities.reverse.each do |activity|
  = link_to activity, class: [:activity, :column] do
    .activity_image{style: "background: url(#{activity.photos.empty? ? theme_image_path('placeholder.png') : activity.photos.first.image.url(:box)}) center/cover no-repeat"}
      - if !activity.projects.empty? && !@project
        .hashtag
          = activity.projects.map(&:to_hashtag).join(' / ')
    .activity_content
      .title= activity.name
      .date= date_range(activity.start_at, activity.end_at)
      %p= activity.location
      .excerpt
        - if activity.abstract && activity.abstract.size > 10
          = sanitize(activity.abstract.gsub("\u00A0", " ").gsub("&nbsp;", " "), tags: %w{b strong bold i italic em u underline br})
        - else
          = truncate_html(sanitize(activity.description.gsub("\u00A0", " ").gsub("&nbsp;", " "), tags: %w{b strong bold i italic em u underline br}), length: 200)
        
