.activity_detail{class: @project.nil? ? false : :project_detail}
  - if @project
    .row
      .small-12.columns
        %h1.project_title= link_to @project.name, @project
    .row
      .small-12.columns= render partial: 'shared/project_menu'
      
  .row
    .small-12.columns
      - unless @activity.photos.empty?
        .activity_image
          -#{style: "background: url(#{@activity.photos.empty? ? current_theme_image_path('placeholder.png') : @activity.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat; height: #{@activity.photos.first.image_height}px"}
          = image_tag @activity.photos.first.image.url.gsub(/development/, 'production')
          - if @project
            .hashtag
              = "##{@project.name}"
      .activity_content
        .title= @activity.name
        %p.date= date_range(@activity.start_at, @activity.end_at)
        %p= @activity.location
        .description= raw @activity.description
        - unless @activity.postcategory.blank?
          %h2= link_to 'See all blog posts...', "/category/#{@activity.postcategory.slug}"
  - unless @activity.related_content.empty?
    .related_container
      .row
        .small-12.columns.offset
          %h1 Related Activities
      .row.small-up-1.medium-up-3.xxlarge-up-4.related_carousel
        - @activity.related_content.each do |related|
          = link_to related, class: [:related, :columns] do

            .related_image{style: related.index_image.gsub('development', 'production')}
              - if related.class == Project
                .hashtag
                  = "#{related.to_hashtag}"

                
              -elsif related.project
                .hashtag
                  = "#{related.project.to_hashtag}"
                  
              - elsif related.node != @node
                .hashtag
                  = "#{related.node.to_hashtag}"
            .related_content
              .title= related.name
              .excerpt= truncate_html(sanitize(related.description, tags: %w{b strong bold i italic em u underline br}), length: 150)
      - if @activity.related_content.size > 3
        = content_for :jquery do
          :plain
            $('.related_carousel').slick({infinite: true,
                arrows: true,
                slide: '.related',
                adaptiveHeight: false,
                prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;"></button>',
                nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;"></button>',
                variableWidth: false,
                autoplay: true,
                autoplaySpeed: 4500,
                slidesToScroll: 1,
                slidesToShow: 3,
                responsive: [
                    {
                      breakpoint: 480,
                      settings: {
                        autoplay: true,
                        autoplaySpeed: 3000,
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                  }
                ]
              });;