= semantic_form_for [:admin, @project], html: {multipart: true} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .small-10.medium-6.columns
    = f.input :node
  .small-10.medium-6.columns
    = f.input :year_range
  .small-10.medium-6.columns
    = f.input :name
  .small-10.medium-6.columns
    = f.input :subtitle
  .small-10.medium-6.columns
    = f.text_area :description
  .small-10.medium-6.columns
    = f.input :image
  
  .small-10.medium-6.columns
    = f.input :has_groups, as: :boolean  
  .small-10.medium-6.columns
    = f.input :custom_background_colour, input_html: {class: :colour_picker}, label: 'Custom colour for header/footer'
  .small-10.medium-6.columns
    = f.input :custom_heading_background_colour, input_html: {class: :colour_picker}, label: 'Custom background color for titles and headings (defaults to red)'
  .small-10.medium-6.columns
    - if f.object.custom_background_image?
      =image_tag f.object.custom_background_image.url
      %label
        = f.check_box :remove_custom_background_image
        Remove custom header/footer background image
    = f.input :custom_background_image, label: 'Custom background image for header/footer'
    
  .small-10.medium-6.columns
    - if f.object.custom_body_background_image?
      =image_tag f.object.custom_body_background_image.url
      %label
        = f.check_box :remove_custom_body_background_image
        Remove custom body background image
    = f.input :custom_body_background_image, label: 'Custom background image for body'

  .small-10.medium-6.columns
    = f.input :ongoing, as: :boolean
  .small-10.medium-6.columns
    = f.input :is_featured, as: :boolean, label: 'Show as featured on frontpage?'
  .small-10.medium-6.columns
    = f.input :published, as: :boolean
  .small-12.large-8.columns= f.input :tags, hint: 'Separate with commas'
  .small-10.medium-6.columns
    = f.input :redirect_url
  .row
    .small-12.medium-12.columns.actions= f.submit 'Save'

= content_for :jquery do
  :plain
    $('.colour_picker').spectrum({showInput: true,
    allowEmpty:true,
    preferredFormat: "hex"});
    