.row.expanded
  .small-12.columns
    %h1 Projects
.row.expanded
  .small-12.columns

    = link_to 'New Project', new_admin_project_path, class: [:button, :tiny]

    %table
      %thead
        %tr
          %th Node
          %th= sortable_column "Name"
          %th= sortable_column "Years", column: :year_range
          %th Icon
          %th= sortable_column "Published"
          %th
          %th
          %th

      %tbody
        - @projects.each do |project|
          %tr
            %td= project.node.try(:name)
            %td= project.name
            %td= project.year_range
            %td
              - if project.image?
                = image_tag project.image.url(:thumb)
            %td= project.published == true ? 'yes' : 'no'

            %td
              = link_to 'View', project, target: :_blank, class: [:button, :tiny, :secondary]
              = link_to 'Edit', edit_admin_project_path(project), class: [:button, :tiny]
            %td= link_to 'Destroy', [:admin, project], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :tiny, :alert]

    %br

    = link_to 'New Project', new_admin_project_path, class: [:button, :tiny]
