= semantic_form_for [:admin, @postcategory] do |f|
  .row
    .small-10.medium-5.columns= f.input :name
  .row
    .small-10.medium-5.columns= f.input :project
  .row
    .small-10.medium-5.columns= f.input :page, label: 'Display under a page instead'    
    
  .row
    .small-12.columns= f.submit 'Save', class: [:button, :small]