.row.expanded
  .small-12.columns
    %h3 Open calls

    %table
      %thead
        %tr
          %th Project
          %th= sortable_column "Name"
          %th= sortable_column "Deadline", column: :end_at
          %th Submissions
          %th Actions

      %tbody
        - @calls.each do |call|
          - next unless can? :read, call
          %tr
            %td= call.node.name
            %td= call.name
            %td
              - unless call.end_at.nil?
                = l call.end_at, format: :long
            %td
              - if can? :read, call
                = link_to "View all #{call.submissions.count}", admin_call_submissions_path(call), class: [:button, :tiny]
            %td{colspan: 3}
              - if can? :read, call
                = link_to 'Show', call, class: [:button, :tiny], target: :_blank
              - if can? :edit, call
                = link_to 'Edit', edit_admin_call_path(call), class: [:button, :tiny]
              - if can? :destroy, call
                = link_to 'Destroy',[:admin, call], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :tiny, :alert]

.row
  .small-12.columns= link_to 'New call', new_admin_call_path, class: [:button, :tiny]
