.row.group_detail
  .columns.medium-offset-2.medium-8.small-12
    %h2= @group.name
    %p
      %em Hosts:
      = @group.host
    %p
      %em Place:
      = @group.place
    .description
      = raw @group.description
- unless @group.participants.empty?
  .row.participants_container
    .small-12.columns
      - @group.participants.hosts.approved.sort_by(&:last_name).each_with_index do |p, index|
        .row.host_container{class: @group.participants.hosts.approved.sort_by(&:last_name)[index+1].nil? ? :last : false }
          .medium-2.columns.medium-offset-1.hide-for-small-only
            - if p.avatar
              .host_icon= image_tag(p.avatar.url(:blog))
            - else
              = image_tag('missing_person.png')

          .medium-9.small-12.columns
            .name= p.name
            .bio= raw sanitize(p.bio.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong a u p br iframe underline i italic em})
  .row.participants_container
    .small-12.columns
      - @group.participants.not_hosts.approved.sort_by(&:last_name).each_with_index do |p, index|
        .row.host_container{class: @group.participants.not_hosts.approved.sort_by(&:last_name)[index+1].nil? ? :last : false }
          .medium-2.columns.medium-offset-1.hide-for-small-only
            - if p.avatar
              .host_icon= image_tag(p.avatar.url(:blog))
            - else
              = image_tag('missing_person.png')

          .medium-9.small-12.columns
            .name= p.name
            .bio= raw sanitize(p.bio.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong a u p br iframe underline i italic em})            