= semantic_nested_form_for [:admin, @symposium], html: {:"data-abide" => ''} do |f|
  .row
    .small-12.medium-6.columns= f.input :name, :input_html => {required: ''} 
  .row
    .large-3.small-7.columns= f.input :start_at, as: :string,  :input_html => { :class => "fdatepicker", required: ''} 
  .row
    .large-3.small-7.columns= f.input :end_at, as: :string,  :input_html => { :class => "fdatepicker", required: ''}, label: 'End date'
  .row
    .large-6.small-12.columns= f.input :location, :input_html => {required: ''} 
  .row
    .large-6.small-12.columns= f.input :location_url
    
  = f.fields_for :groups do |g|

    .row
      .small-12.columns= g.input :name, label: "Name of group?", :input_html => {required: ''} 
    .row
      .small-12.columns= g.input :host, :input_html => {required: ''} 
    .row
      .small-12.column= g.input :host_url
    .row
      .small-12.column= g.input :short_description
    .row
      .small-12.column= g.link_to_remove 'Delete this group', class: [:button, :tiny, :alert]
  .row
    .small-12.columns
      = f.link_to_add 'Add a group', :groups, class: [:button, :tiny]

  .row
    .small-12.columns= f.submit 'Save', class: [:button ]  

= content_for :jquery do 
  :plain  
    $('.fdatepicker').fdatepicker({format: 'yyyy-mm-dd'});       