

- @groups.each_with_index do |group,index|
  .row.group_container{class: @groups[index+1].nil? ? :last : false}
    - if index == 0
      .medium-3.columns.float-right
        %div{:'data-sticky-container' => ''}
          %nav#magellan.columns.sticky{:'data-sticky' => '', :'data-sticky-on' => 'large', :'data-margin-top' => 30}
            %ul.vertical.menu{:"data-magellan" => ''} 
              -# => "threshold:100;destination_threshold:120;fixed_top:320" }
              - @groups.each_with_index do |g, count|
                %li= link_to (count + 1).to_s + ". " + g.name, '#', onclick: "scrollTo('a[name=#{g.id}]');return false;"
                
    .columns.medium-offset-2.small-12{class: index == 0 ? "medium-7" : "medium-7"}
      %a{name: group.id }
      %h2= link_to group.name, group
      %p
        %em Hosts:
        = group.host
      %p
        %em Participants:
        = group.participants.not_hosts.map(&:name).join(', ')
      .short_description
        = raw group.short_description
        = link_to ">>>", group
    - if index == 0
      .medium-2.columns.navigator
