.row.group_detail
  .columns.medium-offset-2.medium-8.small-12
    %h2= @group.name
    %p
      %em Hosts:
      = @group.host

    %p
      %em Participants:
      = @group.participants.not_hosts.map(&:name).join(', ')

    .description
      = raw @group.description
- unless @group.participants.empty?
  .row.participants_container
    .small-12.columns
      - @group.participants.hosts.approved.sort_by(&:last_name).each_with_index do |p, index|
        .row.host_container{class: @group.participants.hosts.approved.sort_by(&:last_name)[index+1].nil? ? :last : false }
          .medium-8.columns.medium-offset-2.text-left
            .name= p.name
            - unless p.website.blank?
              .participant_website= link_to p.website_formatted, p.website_formatted, target: :blank
            .bio= raw sanitize(p.bio.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong a u p br iframe underline i italic em})
  .row.participants_container
    .small-12.columns
      - @group.participants.not_hosts.approved.sort_by(&:last_name).each_with_index do |p, index|
        .row.host_container{class: @group.participants.not_hosts.approved.sort_by(&:last_name)[index+1].nil? ? :last : false }
          .medium-8.columns.medium-offset-2.text-left
            .name= p.name
            - unless p.website.blank?
              .participant_website= link_to p.website_formatted, p.website_formatted, target: :blank
            .bio= raw sanitize(p.bio.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong a u p br iframe underline i italic em})            