.ars_bioarctica_front{style: "background: url(#{@ars.background.url}) repeat; background-size: cover;"}
  .row
    .small-10.small-centered.medium-12.columns.section_title
      = link_to '/projects/ars-bioarctica' do
        %span.white ARS
        Bioarctica
  .row
    .small-10.columns.medium-11.small-centered
      - if @ars.image?
        .ars_image
          = image_tag @ars.image.url
      .ars_content
        = raw @ars.body
        - unless @calls.empty?
      
          - @calls.each do |call|
            %p
              .side_link= link_to call.name, call