.whats_new{id: @frontitems.size == 1 ? "frontitem_1" : false}
  .row
    .small-10.small-centered.medium-12.columns.section_title
      %span.white What's
      New
  .row.small-up-1.medium-up-3.xxlarge-up-4.post_carousel#results{:'data-equalizer' => '', :'data-equalize-on' => 'medium'}
    - @posts.each do |post|
      = link_to post, class: [:post, :columns] do

        .post_image{style: "background: url(#{post.photos.empty? ? theme_image_path('placeholder.png') : post.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat"}
          - if post.project
            .hashtag
              = "#{post.project.to_hashtag}"
          - elsif post.class == Activity
            .hashtag
              = "#SOLUEvents"
          - elsif post.node != @node
            .hashtag
              = "#{post.node.to_hashtag}"
        .post_content{:'data-equalizer-watch' => ''}
          .title= post.title
          - if post.class == Activity
            - post.eventsessions.sort_by(&:start_at).each do |session|
              .date
                = date_range(session.start_at.localtime, session.end_at.localtime)
                %br/
                - if post.eventsessions.map(&:location).uniq.count > 1
                  = session.location.blank? ? 'SOLU' : session.location
          .excerpt
            - if post.short_abstract
              = sanitize(post.short_abstract, tags: %w{b strong bold i italic em u underline br})
            - else
              = truncate_html(sanitize(post.body, tags: %w{b strong bold i italic em u underline br}), length: 325)
          - if post.class == Post
            .index_author
              - unless post.user.has_role?(:admin)
                Guest post
                |
                - if post.wordpress_author.blank?
                  = "#{post.user.name} |"
                - elsif !post.wordpress_author.blank? && post.user.email == 'erich.berger@bioartsociety.fi'
                  = "#{post.wordpress_author} |"
              = post.published_at.strftime('%-d %B %Y')

= content_for :jquery do
  :plain
    $('#results').pageless({
                           url: '/posts/'
                           , loaderMsg: 'Loading more posts....'
                           });

-#   :plain
-#     $('.post_carousel').slick({infinite: true,
-#         arrows: true,

-#         adaptiveHeight: false,
-#         prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;"></button>',
-#         nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;"></button>',
-#         variableWidth: false,
-#         autoplay: true,
-#         autoplaySpeed: 4500,
-#         slidesToScroll: 1,
-#         slidesToShow: 3,
-#         responsive: [
-#             {
-#               breakpoint: 480,
-#               settings: {
-#                 autoplay: true,
-#                 autoplaySpeed: 3000,
-#                 slidesToShow: 1,
-#                 slidesToScroll: 1
-#               }
-#           },
-#             {
-#               breakpoint: 959,
-#               settings: {
-#                 autoplay: true,
-#                 autoplaySpeed: 3000,
-#                 slidesToShow: 2,
-#                 slidesToScroll: 2
-#               }
-#           }
-#         ]
-#       });;

