.about_page{style: "background: url(#{@about_text.background.url}) center top no-repeat #d5d7d8;"}
  .row
    .small-10.small-centered.medium-12.columns
      .heading About
      
  .row
    .small-10.small-centered.medium-12.columns
      .text
        .excerpt
          = raw @about_text.excerpt
          .side_link= link_to 'Association rules', '#'
  
  .row
    .small-12.medium-6.columns.member_box
      .member_image{style: "background: url(#{@members.image.url}) center/cover no-repeat"}
      .member_content
        .title= link_to 'Members', page_path('members')
        .excerpt
          = raw @members.excerpt
          
    .small-12.medium-6.columns.member_box
      .member_image{style: "background: url(#{@collaborators.image.url}) center/cover no-repeat"}
      .member_content
        .title= link_to 'Collaborators', page_path('collaborators')
        .excerpt
          = raw @collaborators.excerpt
          

  .row
    .small-12.columns.staff_box
      .text
        .red Board and staff
        .excerpt= raw @board_staff.body
