- @events.each_with_index do |event,index|
  .row.event_container{class: @events[index+1].nil? ? :last : false}
    - if index == 0
      .medium-2.columns.navigator.right
        .magellan-scrollnav
          %div{:"data-magellan-expedition" => :fixed, :"data-options" => "threshold:120;destination_threshold:120;fixed_top:220;offset_by_height:false" }
            %dl.events_list
              - @events.each_with_index do |g, count|
                %li= link_to (count + 1).to_s + ". " +  g.name, '#', onclick: "scrollTo('a[name=#{g.slug}]');return false;"

    .medium-2.columns.medium-offset-1.hide-for-small-only
      - if event.photos.empty?
        = link_to image_tag('hm_logo.png'), event
      - else

        .front_icon= image_tag event.photos.first.image.url(:blog)
    .small-12.columns.medium-offset-1.medium-6{class: index == 0 ? "" : "end"}
      %a{name: event.slug }
      - if @site.nil?
        - if event.activity
          .blue_heading= link_to_if event.activity.subsite, event.activity.name, "http://#{event.activity.subsite.hostname}"
      %h2= link_to event.name, event
      %p
        %em
          Dates:
          = date_range(event.start_at, event.end_at)
        %br/
        %em
          Place:
          = event.place
      .short_description
        = raw truncate_html(event.description, length: 600)
        %p= link_to "Read more....", event
