.row.expanded
  .small-12.columns
    %h2 Listing pages
.row.expanded
  .small-12.columns

    = link_to 'New Page', new_admin_page_path, class: [:button, :small]
.filter_box.row.expanded
  .medium-6.columns
    .filter_title Filter by project:
    %select#by_project
      %option{:value => ""} &nbsp;
      - Project.all.sort_by{|x| x.name.downcase}.each do |project|
        %option{:value => project.id, :selected => (params[:by_project] == project.id.to_s ? :selected : false)}= project.name    
.row.expanded
  .small-12.columns
    %table.cms
      %thead
        %tr
          %th= sortable_column "Activity", column: 'subsite'
          %th= sortable_column "Title"
          %th Body
          %th Image
          %th
      
      %tbody
        - @pages.each do |page|
          - next unless page.root?
          %tr
            %td
              = page.subsite.nil? ? 'main' : page.subsite.name
              - if page.project
                %p.project= page.project.name
            %td
              = page.title
              - unless page.children.empty?
                %br/
                - page.children.each do |p|
                  = link_to p.title, edit_admin_page_path(p), target: :_blank
                  | 
            %td= truncate_html(strip_tags(page.body), length: 150)
            %td= image_tag page.image.url(:thumb)
            %td
              = link_to 'Show', page, class: [:button, :small], target: :_blank
              = link_to 'Edit', edit_admin_page_path(page), class: [:button, :small]
              = link_to 'Destroy', [:admin, page], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :alert,  :small]

.row.expanded
  .small-12.columns

    = link_to 'New Page', new_admin_page_path, class: [:button, :small]
= content_for :jquery do
  :plain
    $('.filter_box select').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
      if (parts[1]) {
        window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
      } else {
        window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
      }
    });  