.residency_detail
  .row
    .small-10.small-centered.medium-12.columns
      .section_title
        Residents

  = render partial: 'residencies/year_menu'



  .row
    .small-12.columns
      - unless @artist.stays.map(&:photos).flatten.empty?

        .post_image
          - if @artist.stays.map(&:photos).flatten.size == 1

            = image_tag @artist.stays.map(&:photos).flatten.first.image.url
          - else
            .image_carousel{style: @artist.stays.map(&:photos).flatten.size > 1 ? "margin-bottom: 135px" : "margin-bottom: 1rem"}

              - @artist.stays.map(&:photos).flatten.each do |photo|
                .slide[photo]
                  = image_tag photo.image.url(:standard)
                  .thumb= image_tag photo.image.url(:thumb)

            = content_for :jquery do
              :plain
                $('.image_carousel').slick({infinite: true,
                  arrows: true,


                  adaptiveHeight: false,
                  prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;"></button>',
                  nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;"></button>',
                  dots: true,
                  customPaging: function(slick,index) {
                     return slick.$slides.eq(index).find('.thumb').html() ;
                  },
                  variableWidth: false,
                  autoplay: true,
                  autoplaySpeed: 2400,
                  slidesToScroll: 1,
                });
      .post_content
        .title= @artist.name
        - unless @artist.website.blank?
          .website
            Website:
            = link_to @artist.website, @artist.website, target: :_blank
        - unless @artist.bio.blank?
          .bio
            = simple_format  @artist.bio
        - @artist.stays.sort_by(&:start_at).each do |stay|
          .stay
            .dates
              Residency period:
              = date_range(stay.start_at, stay.end_at)
            - unless stay.residency_description.blank?
              .description
                = raw stay.residency_description
          - unless stay.posts.published.empty?
            .residency_blog_index
              .row.small-up-1.medium-up-2.large-up-3.xxlarge-up-3.post_carousel
                - stay.posts.published.order(published_at: :desc).take(12).each do |post|
                  = link_to post, class: [:post, :columns] do
                    .post_image{style: "background: url(#{post.photos.empty? ? theme_image_path('placeholder.png') : post.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat"}
                      -#.hashtag
                      -#  = "##{post.node.name}"
                    .post_content
                      .title= truncate_html(post.title, length: 40)
                      .excerpt
                        - if post.short_abstract
                          = sanitize(post.short_abstract, tags: %w{b  astrong bold i italic em u underline }, attributes: %w(href target src))
                        - else
                          = truncate_html(sanitize(post.body, tags: %w{b  astrong bold i italic em u underline }, attributes: %w(href target src)), length: 150)
                      .index_author
                        = "#{post.published_at.strftime('%-d %B %Y')}"
      - unless @artist.projects.empty? && @artist.works.empty?
        .post_content
          .title= @artist.name + ": Other projects"

          - [@artist.works, @artist.projects].flatten.compact.uniq.each do |project|
            .row.projects_container
              .small-12.columns
                = link_to project do
                  .row
                    .columns.small-12.project
                      .row.inner
                        .small-12.large-2.hide-for-medium-only.project_icon.columns
                          = image_tag project.image.url(:box).gsub(/development/, 'production')
                        .small-12.medium-12.large-10.project_content.columns
                          .title= project.name
                          .years= project.year_range
                          .description= raw truncate_html(project.description, length: 250)
