
- @posts.each do |post|
  .post.column
    .post_image{style: "background: url(#{post.photos.empty? ? current_theme_image_path('placeholder.png') : post.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat"}
      .hashtag
        = "##{post.node.name}"
    .post_content
      .title= link_to post.title, post
      .excerpt= truncate_html(sanitize(post.body, tags: %w{b strong bold i italic em u underline br}), length: 150)  