
- @posts.each_with_index do |post, index|
  = link_to post, class: [:post, :column] do
    .post_image{style: "background: url(#{post.photos.empty? ? (@project.nil? ? theme_image_path('placeholder.png') : @project.image.url(:box) ) :  post.photos.first.image.url(:box).gsub('development', 'production')}) #{!@project.nil? && post.photos.empty? ? 'center' : 'center/cover'} no-repeat"}
      - if post.project
        .hashtag{class: post.project.to_hashtag.size > 30 ? 'small' : false }
          = "#{post.project.to_hashtag}"
      - elsif post.node != @node
        .hashtag
          = "#{post.node.to_hashtag}"
    .post_content{:'data-equalizer-watch' => ''}
      .title
        = post.title
      .excerpt
        - if !post.short_abstract.blank?
          = sanitize(post.short_abstract, tags: %w{b strong bold i italic em u underline br})
        - else
          = truncate_html(sanitize(post.body, tags: %w{b strong bold i italic em u underline br}), length: 150)
      .index_author
        - unless post.user.has_role?(:admin)
          Guest post
          |
          - if post.wordpress_author.blank?
            = "#{post.user.name} |"
          - elsif !post.wordpress_author.blank? && post.user.email == 'erich.berger@bioartsociety.fi'
            = "#{post.wordpress_author} |"
        = post.published_at.strftime('%-d %B %Y')
