
- @posts.each do |post|
  .post.column
    .post_image{style: "background: url(#{post.photos.empty? ? (@project.nil? ? theme_image_path('placeholder.png') : @project.image.url(:box) ) :  post.photos.first.image.url(:box).gsub('development', 'production')}) #{!@project.nil? && post.photos.empty? ? 'center' : 'center/cover'} no-repeat"}
      - if post.project
        .hashtag
          = "#{post.project.to_hashtag}"
      - elsif post.node != @node
        .hashtag
          = "#{post.node.to_hashtag}"
    .post_content
      .title= link_to post.title, post
      .excerpt= truncate_html(sanitize(post.body, tags: %w{b strong bold i italic em u underline br}), length: 150)  
      - if post.project.slug == 'ars-bioarctica'
        .index_author
          - if post.wordpress_author.blank?
            = "#{post.user.name} | #{post.published_at.strftime('%-d %B %Y')}"
          - elsif !post.wordpress_author.blank? && post.user.email == 'erich.berger@bioartsociety.fi'
            = "#{post.wordpress_author} | #{post.published_at.strftime('%-d %B %Y')}"