.posts_index{class: @project.nil? ? false : :project_detail}

  - if @project
    .row
      .small-12.columns
        %h1.project_title
          = link_to @project.name, @project
          - unless @project.ongoing == true
            %span.years= @project.year_range
        - if @category
          %h3.project_subtitle= @category.name
    .row
      .small-12.columns= render partial: 'shared/project_menu'
  - else
    .row
      .small-10.small-centered.medium-12.columns.section_title
        News
  .row.small-up-1.medium-up-2.large-up-3#results= render partial: 'posts/postspage'
 
- if @category
  
- elsif @project
  = content_for :jquery do
    :plain
      $('#results').pageless({ totalPages: 10
                             , url: '/projects/#{@project.slug}/posts/'
                             , loaderMsg: 'Loading more posts....'
                             });

- else
  = content_for :jquery do
    :plain
      $('#results').pageless({ totalPages: 10
                             , url: '/posts/'
                             , loaderMsg: 'Loading more posts....'
                             });