.post_detail{class: @project.nil? ? false : :project_detail}
  - if @project
    .row
      .small-12.columns
        %h1.project_title= link_to @project.name, @project
    .row
      .small-12.columns= render partial: 'shared/project_menu'
      
  .row
    .small-12.columns
      - unless @post.photos.empty?
        .post_image
          -#{style: "background: url(#{@post.photos.empty? ? current_theme_image_path('placeholder.png') : @post.photos.first.image.url(:box).gsub('development', 'production')}) center/cover no-repeat; height: #{@post.photos.first.image_height}px"}
          = image_tag @post.photos.first.image.url.gsub('development', 'production')
          - unless @project
            .hashtag
              = "##{@post.node.name}"
      .post_content
        .title= @post.title
        .description= raw clean_whitespace(sanitize(@post.body, tags: %w{img a p br i em bold strong b u}, attr: %w{href src}))