= semantic_nested_form_for [:admin, @activity], html: {multipart: true, :"data-abide" => ''} do |f|
  - if @activity.errors.any?
    .row
      .large-8.small-12.columns#error_explanation
        %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
        %ul
          - @activity.errors.full_messages.each do |msg|
            %li= msg
  .row
    .small-12.large-8.columns= f.input :node, input_html: {:required => ''}
  .row
    .small-12.large-8.columns= f.input :name, input_html: {:required => ''}
  .row
    .small-12.large-8.columns= f.input :location, input_html: {:required => ''}
  .row
    .small-12.large-8.columns= f.input :activitytype, input_html: {:required => ''}
  .row
    .small-12.large-8.columns= f.input :place_slug, label: 'Slug for exhibition URL'
  .row
    .small-12.large-8.columns= f.input :project, label: 'Associate to project?', hint: 'If selected, a link to this project will be created on the activity page'
  .row
    .small-12.large-8.columns= f.input :postcategory, label: 'Associate to post category?', hint: 'If selected, a link to this all posts with this category will be created on the activity page'
  .row
    .small-12.columns= f.input :description, as: :text, input_html: {class: :ckeditor}
  .row
    .small-12.columns= f.input :abstract, as: :text, input_html: {class: :ckeditor}
  .row
    .small-12.large-8.columns= f.input :start_at, as: :string, input_html: {:required => '', class: :fdatepicker}, label: 'Overall start date of activity'
  .row
    .small-12.large-8.columns= f.input :end_at, as: :string, input_html: {class: :fdatepicker}, label: 'Overall ending date of activity'
  / .row
  /   .small-12.large-8.columns= f.input :responsible_organisation_ids, collection: Partner.all,  input_html: {class: :chosen_select}, multiple: true, label: 'Responsible organisations'

  .row
    .small-12.large-8.columns= f.input :tags, hint: 'Separate with commas'
  / = f.fields_for :responsible_organisations do |ff|
  /   .row
  /     .small-12.large-8.columns= f.input
  .row.photo_fields
    .small-12.large-7.columns
      %h4 Event meeting times
      %p You must enter the start and end times of each session of this activity, if you want it to appear on the calendar.
    .small-12.large-7.columns
      = f.fields_for :eventsessions do |ff|
        :javascript
          $('.fdatetimepicker').fdatetimepicker({format: 'yyyy-mm-dd hh:ii', pickTime: true});
        -# = ff.object.start_at.localtime if ff.object.start_at
        = ff.input :start_at, as: :string, input_html: { class: :fdatetimepicker, value: ff.object.new_record? ? '' : ff.object.start_at.in_time_zone.strftime('%Y-%m-%d %H:%M')}, label: 'Start date/time of this session'
        -# = ff.object.end_at
        = ff.input :end_at, as: :string, input_html: { class: :fdatetimepicker, value: ff.object.new_record? ? '' : ff.object.end_at.in_time_zone.strftime('%Y-%m-%d %H:%M') }, label: 'End date/time of this session'
        = ff.input :location, label: 'Location of this session, if not SOLU'
        = ff.link_to_remove 'Remove this session'
      = f.link_to_add 'Add a meeting/session', :eventsessions, class: [:button]
  .row
    .small-12.large-7.columns
      = f.input :hide_from_whats_new, as: :boolean, label: 'Do not show these events on the Whats New frontpage feed'
  .row
    .small-12.large-7.columns
      = f.fields_for :photos do |ff|
        = if ff.object.image?
          = image_tag ff.object.image.url(:box)
        = ff.input :image
        = ff.link_to_remove "Remove this photo"
      = f.link_to_add "Add a photo", :photos
  .row
    .small-12.large-8.columns= f.input :published, as: :boolean
  .row
    .small-12.large-8.columns= f.submit 'Save', class: [:button, :small]
= content_for :jquery do
  :plain
    $('.fdatetimepicker').click(function(e)  {
      let initial = e.currentTarget.value.replace(/\s*\+0300$/, '');
      $(this).fdatetimepicker('update', initial);
    });

    $('.fdatepicker').fdatetimepicker({format: 'yyyy-mm-dd'})
    $('.fdatetimepicker').fdatetimepicker({format: 'yyyy-mm-dd hh:ii', pickTime: true}).on('changeDate', function (ev) {
      $('.fdatepicker').fdatetimepicker('hide')
    });;
    $
    $('.chosen_select').chosen();
    $('form').submit(function(form) {
      $('.fdatetimepicker').each(function(i, obj) {
        if ($(this).val().length > 4) {
          $(this).val($(this).val().replace(/\s*\+0300$/, '') + ' +0200');
        }
      });
    });
