.row
  .medium-2.columns.medium-offset-1.hide-for-small-only
    - if post.photos.empty?
      = link_to  image_tag('hm_logo.png'), post
    - else
      .front_icon= link_to image_tag(post.photos.first.image.url(:blog)), post
  .medium-9.small-12.columns
    .row
      .small-12.medium-9.columns.post_info.end.medium-offset-1
        .blue_heading
          = raw post.category
        .title= link_to post.title, post
        .date= post.published_at.strftime("%d %B %Y")
        .body= raw truncate_html(sanitize(post.body.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong u a br iframe p underline i italic em}, attributes: %w{target href}), length: 600)
        
