.post_single_container
  .post
    .row

      .small-12.medium-8.columns.medium-offset-2
        .row
          .medium-2.columns.hide-for-small-only
            - if @post.user.partner.nil?
              = image_tag 'hm_logo.png'
            - else
              = image_tag @post.user.partner.hmlogo.url
          .small-12.medium-10.columns.post_info.end
            .blue_heading= raw @post.category
            .title= @post.title
            - if @post.published == true
              .date= @post.published_at.strftime("%d %B %Y")
            - else 
              .date NOT YET PUBLISHED
            - if can? :edit, @post
              .row
                .small-12.columns= link_to 'Edit post', edit_admin_post_path(@post), class: [:button, :tiny, :secondary]
    - unless @post.photos.empty?
      .row
        .small-12.medium-8.columns.medium-offset-2
          
          .image_carousel{style: @post.photos.size > 1 ? "margin-bottom: 135px" : "margin-bottom: 1rem"}
            
            - @post.photos.each do |photo|
              .slide[photo]
                = image_tag photo.image.url(:standard)
                .thumb= image_tag photo.image.url(:thumb)
          
    .row
      .small-12.medium-8.columns.medium-offset-2
        .body= raw sanitize(@post.body.gsub(/\&nbsp;/, ' '), tags: %w{bold b strong a u p br underline i italic em})
    .row
      .small-12.medium-3.columns.small-centered
        - unless @post.previous.nil?
          .post_paginator{class: @post.next.nil? ? false : :noright}= link_to raw("&#8592; Prev"), @post.previous
        - unless @post.next.nil?
          .post_paginator= link_to raw("Next &#8594;"), @post.next        


- if @post.photos.size > 1
  = content_for :jquery do
    :plain
      $('.image_carousel').slick({infinite: true,
        arrows: true,
        slide: '.slide',
        adaptiveHeight: false,

        dots: true,
        customPaging: function(slick,index) {
           return slick.$slides.eq(index).find('.thumb').html() ;
        },
        variableWidth: false,
        autoplay: true,
        autoplaySpeed: 2400,
        slidesToScroll: 1,
      });