.row
  .small-6.medium-6.columns
    .address
      %p
        %strong Office and postal address
      %p
        SOLU / Bioart Society
        %br/
        Luotsikatu 13
        %br/
        00160 Helsinki Finland
        %br/
        info@bioartsociety.fi
  .small-6.columns.medium-3 &nbsp;
  .small-7.medium-3.columns

    .icons.float-right
      -#.email= link_to image_tag(theme_image_path('layout/email_icon.png')), '#'
      .fb= link_to image_tag(theme_image_path('layout/fb_icon.png')), 'https://www.facebook.com/groups/bioartsociety/', target: :_blank
      .twitter= link_to image_tag(theme_image_path('layout/twitter_icon.png')), 'https://twitter.com/bioartsociety', target: :_blank
      .instagram= link_to image_tag(theme_image_path('layout/instagram_icon.png')), 'https://www.instagram.com/bioartsociety/', target: :_blank
      .rss= link_to image_tag(theme_image_path('layout/rss_icon.png')), '/feed', target: :_blank
    %br/
    .privacy= link_to 'Privacy policy', page_path('gdpr-policy')