.row
  .small-6.medium-6.columns
    .address
      %p
        %strong Office and postal address
      %p
        Suomen Biotaiteen Seura ry / Finnish Bioart Society
        %br/
        Kaasutehtaankatu 1
        %br/
        FI-00540 Helsinki
  .small-6.columns.medium-3 &nbsp;
  .small-7.medium-3.columns
    .form
      = form_tag '/search' do
        = text_field_tag :searchterm, params[:searchterm], style: @project.nil? ? '' : "background: url(/assets/bioart/images/layout/mag_glass.png) no-repeat 2px center , url(/assets/bioart/images/layout/menubar_arrow_blk.png) no-repeat right center #{@project.custom_background_colour};"
    .icons.float-right
      .email= link_to image_tag(theme_image_path('layout/email_icon.png')), '#'
      .fb= link_to image_tag(theme_image_path('layout/fb_icon.png')), 'https://www.facebook.com/groups/bioartsociety/', target: :_blank
      .twitter= link_to image_tag(theme_image_path('layout/twitter_icon.png')), 'https://twitter.com/bioartsociety', target: :_blank
      .instagram= link_to image_tag(theme_image_path('layout/instagram_icon.png')), 'https://www.instagram.com/bioartsociety/', target: :_blank