!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags :site => 'SOLU / Bioart Society', og: {image: asset_url('bioart/images/solu_bioart.png') }
    = stylesheet_link_tag 'bioart/stylesheets/application', media: 'all'
    = javascript_include_tag 'bioart/javascripts/application', 'data-turbolinks-track' => true
    -# if controller.controller_name == 'partners'
    -#  %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key}", :type => "text/javascript"}
    = csrf_meta_tags
    %link{:href => "/feed", :rel => "alternate", :title => "Bioartsociety RSS feed", :type => "application/rss+xml"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Rubik|Titillium+Web|Abel", :rel => "stylesheet", :type => "text/css"}/
    - if @post
      - unless @post.soundfiles.empty?
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"}
    - if @page
      - unless @page.soundfiles.empty?
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"}
    - if @project
      - unless @project.custom_heading_background_colour.blank?
        :css
          .project_detail .red {
            background-color: #{@project.custom_heading_background_colour} !important;
          }
          .project_detail ul.project_menu li a.active {
            background: #{@project.custom_heading_background_colour}  #{asset_url('bioart/images/layout/menubar_arrow.png')}  0.4em no-repeat !important;
          }
          .project_detail .text p a, .project_detail .grid .chunked p a, .project_detail .text .excerpt a {
            color: #{@project.custom_heading_background_colour} !important;
          }
          .image_carousel ul.slick-dots li.slick-active {
            border: 3px solid #{@project.custom_heading_background_colour} !important;
          }
          #flash {
            background-color: #{@project.custom_heading_background_colour} !important;
          }
      - unless @project.custom_body_background_image.blank?
        :css
          .project_detail {
            background: url(#{@project.custom_body_background_image.url}) repeat !important;
          }
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60278881-1', 'auto');
      ga('send', 'pageview');
  %body
    %header{style: @project.nil? ? '' : "background-color: #{@project.custom_background_colour}"}
      .pattern{class: @project.nil? ? false : @project.slug, style: @project.nil? ? '' : (@project.custom_background_image? ? "background: url(#{@project.custom_background_image.url}) repeat;" : false)}

        .row.search_field#search_field_container
          = form_tag '/search' do
            = text_field_tag :searchterm, params[:searchterm], placeholder: 'Search', style: @project.nil? ? '' : "background: #{asset_url('bioart/images/layout/mag_glass.png')} no-repeat 2px center  #{@project.custom_background_colour.blank? ? '#66ffcc' : @project.custom_background_colour};"
        .row
          - if user_signed_in?
            .login_options
              = link_to fa_icon('pencil'), '/admin'
              = link_to fa_icon('sign-out'), destroy_user_session_path, :method => :delete
          = link_to '/' do
            .logo.medium-3.columns.small-12
              -# BIOART SOCIETY
              = image_tag asset_url('bioart/images/solu_bioart.png')

            .search_icon.show-for-small-only
              = link_to fa_icon('search'), '#', onclick: '$("#search_field_container").slideToggle();$(".search_icon").fadeOut();'
          .title-bar.large-9.columns.small-12.medium-12
            .title-bar-left
              %ul.horizontal.menu.dropdown{:'data-dropdown-menu' => ''}
                %li= link_to 'News', posts_path

                %li= link_to 'Residency', project_path('ars-bioarctica')
                %li
                  = link_to 'Program', '/program'
                  -# %ul.menu
                  -# %li= link_to 'Activities', activities_path
                %li= link_to 'About', '/about'
                %li.search.hide-for-small-only
                  = form_tag '/search' do
                    = text_field_tag :searchterm, params[:searchterm], placeholder: 'Search', style: @project.nil? ? '' : "background: #{asset_url('bioart/images/layout/mag_glass.png')} no-repeat 2px center  #{@project.custom_background_colour.blank? ? '#66ffcc' : @project.custom_background_colour};"
                -#%li= link_to 'Contact', page_path('contact')
    - unless flash.empty?
      #flash
        .row
          .small-12.columns.text-center
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                = content_tag :div, msg, :id => "flash_#{name}"
    .calendar#calendar_container
      #calendar

      .calendar_tab
        = link_to fa_icon("calendar"), '#', onclick: 'javascript:toggleCalendar();return false;'
    #container= yield
    %footer{style: @project.nil? ? '' : (@project.custom_background_image? ? "background: url(#{@project.custom_background_image.url}) repeat;" : false) }= render partial: 'layouts/footer'

    :javascript
      $(document).ready(function() { #{yield :jquery}
        $.getScript("calendar.js");
      });
