.row
  .small-12.columns
    %h2
      Groups for
      = @symposium.name
.row
  .small-12.columns
    %table
      %thead
        %th Name
        %th Hosts
        %th Participants
        %th Actions
      %tbody
        - @groups.each do |group|
          %tr
            %td
              = group.name
              = link_to 'Export to CSV', admin_symposium_group_participants_path(@symposium, group), class: [:button, :small]
            %td= group.host
            %td= group.participants.size.to_s
            %td
              = link_to 'Add participant', new_admin_symposium_group_participant_path(@symposium, group), class: [:button, :small]
          - unless group.participants.empty?
            %tr
              %td &nbsp;
              %td{colspan: 3}
                %table
                  %thead
                    %th Name
                    %th
                      - if group.name == 'Public'
                        Registered for:
                      - else
                        Host?
                    %th Approved?
                    %th actions
                  %tbody
                    - group.participants.each do |p|
                      %tr
                        %td= p.name
                        %td
                          - if group.name == 'Public'
                            - if p.symposium_registration
                              - if p.symposium_registration.keynote
                                Keynote
                                %br/
                              - if p.symposium_registration.symposium
                                Symposium
                                %br/
                              - if p.symposium_registration.dinner
                                Dinner
                            - else
                              = p.is_host == true ? 'yes' : 'no'
                        %td= p.accepted == true ? 'accepted' : 'not accepted'
                        %td
                          = link_to 'Edit', edit_admin_symposium_group_participant_path(@symposium, group, p), class: [:button, :tiny]
                          = link_to 'Delete', [:admin, @symposium, group, p], method: :delete, :data => {confirm: 'Are you sure?'}, class: [:button, :alert, :tiny]