= semantic_nested_form_for [:admin, @user], html: {multipart: true, :"data-abide" => ''} do |f|
  - if @user.errors.any?
    .row
      .large-6.small-12.columns#error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this admin_partner from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  .row
    .large-5.small-12.columns= f.input :name, input_html: {required: ''}
  .row
    .large-5.small-12.columns= f.input :email, input_html: {required: ''}    
  .row
    .large-5.small-12.columns= f.input :website
  .row
    .large-5.small-12.columns
      = f.input :partner, as: :select, collection: Partner.all, input_html: {required: ''}

  .row
    .large-12.small-12.columns= f.input :biography, as: :ckeditor


  .row
    .small-12.large-6.columns= f.submit 'Save', class: [:button, :small]
