.row
  .small-12.columns
    %h1 Users

    %table
      %thead
        %tr
          %th Name
          %th Partner
          %th Actions
      
      %tbody
        - @users.each do |user|
          %tr
            %td= [user.name, user.email].join('/')
            %td= user.partner.try(:name)
            %td{colspan: 3}
              = link_to 'Show', user, class: [:button, :small]
              = link_to 'Edit', edit_admin_user_path(user), class: [:button, :small]
              = link_to 'Destroy',[:admin, user], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :small, :alert]
