#map_left.left
  &nbsp;


#map_right
  .filter_box
    .title Filter by activity type:
    %ul
      - Activitytype.order(:sort_order.asc).each do |a|
        %li[a]= link_to a.name, '#', onclick: "javascript:toggleActivitytype('#{a.id}');return false;"
  
  .kilpisjarvi.partner_location
    .partner_circle.bioart
    .caption Finnish Society of BioArt
    :javascript
      $('.partner_location.kilpisjarvi').on({
        mouseenter: function() {
          $('.partner_circle.bioart').next('.caption').text('Kilpisjärvi');
        },
        mouseleave: function() {
        $('.partner_circle.bioart').next('.caption').text('Finnish Society of BioArt');
        }
      });
  .partner_location.helsinki
    .left_text Finnish Society of BioArt
    .partner_circle.bioart.right
    :javascript
      $('.partner_location.helsinki').on({
        mouseenter: function() {
          $('.partner_location.helsinki .left_text').text('Helsinki');
        },
        mouseleave: function() {
        $('.partner_location.helsinki .left_text').text('Finnish Society of BioArt');
        }
      });
  .partner_location.forumbox
    .left_text Forum Box
    .partner_circle.forumbox.right
    :javascript
      $('.partner_location.forumbox').on({
        mouseenter: function() {
          $('.partner_location.forumbox .left_text').text('Helsinki');
        },
        mouseleave: function() {
        $('.partner_location.forumbox .left_text').text('Forum Box');
        }
      });
  .partner_location.grenland
    .partner_circle.grenland
    .caption Kunsthall Grenland        
    :javascript
      $('.partner_location.grenland').on({
        mouseenter: function() {
          $('.partner_circle.grenland').next('.caption').text('Porsgrunn');
        },
        mouseleave: function() {
        $('.partner_circle.grenland').next('.caption').text('Kunsthall Grenland ');
        }
      });
  .malmo.partner_location
    .partner_circle.malmo
    .caption Malmö University
    :javascript
      $('.partner_location.malmo').on({
        mouseenter: function() {
          $('.partner_circle.malmo').next('.caption').text('Malmö');
        },
        mouseleave: function() {
        $('.partner_circle.malmo').next('.caption').text('Malmö University');
        }
      });
  .partner_location.itu
    .partner_circle.itu
    .caption IT University of Copenhagen
    :javascript
      $('.partner_location.itu').on({
        mouseenter: function() {
          $('.partner_circle.itu').next('.caption').text('Copenhagen');
        },
        mouseleave: function() {
        $('.partner_circle.itu').next('.caption').text('IT University of Copenhagen');
        }
      });
  .partner_location.nikolai
    .partner_circle.nikolai
    .caption Nikolai Kunsthall  
    :javascript
      $('.partner_location.nikolai').on({
        mouseenter: function() {
          $('.partner_circle.nikolai').next('.caption').text('Copenhagen');
        },
        mouseleave: function() {
        $('.partner_circle.nikolai').next('.caption').text('Nikolai Kunsthall');
        }
      });
  .all_partners
    = link_to image_tag('all_button.png'), '#', onclick: 'clearAllActivityFilters();return false'
#activity_map_wrapper
  %table.vertical-line
    - @activities.each do |activity|
      %tr.activity_row{class: "activitytype_#{activity.activitytype.id}"}
        %td.circle.text-center
          = activity.box_date
      
        %td.activity_entry
          .arrow_left{style: "background: url(#{image_path('arrows/' + activity.box_colour + '.png')}) center center no-repeat"}
          .activity_box{style: "background-color: ##{activity.box_colour};", class: activity.box_colour}
            .title.text-center= activity.name
            .dates.text-center
              - if activity.is_whole_year?
                whole year activity
              - else
                = date_range(activity.start_at, activity.end_at)
            .activity_description= truncate_html(sanitize(activity.description, tags: %w{b strong i italic em u underline bold}), length: 150)

.clearing
  