%footer{class: append}
  .drawer
    .row.expanded
      .text-center
        Supporters and partners
        -#= link_to 'Supporters and partners', '#' , onclick: "javascript:$('footer .rest').slideToggle();return false;"
  .arrow
    .row.expanded
      .text-center.down_arrow= link_to image_tag("hybrid_matters/images/selected_down#{append}.png"), '#', onclick: "javascript:$('footer .rest').slideToggle();return false;"
  .rest
    .row.expanded.lined
      .text-center Nordic Cultural Event of the Year
      .small-centered.columns.small-10.text-center= link_to image_tag('hybrid_matters/images/norden.png'), 'http://www.nordiskkulturfond.org/'
    .row.expanded.lined
      .text-center Partners
      .small-centered.columns.small-10.text-center
        = link_to image_tag('hybrid_matters/images/bioarts.jpg'), 'http://www.bioartsociety.fi/', target: :_blank
        = link_to image_tag('hybrid_matters/images/ITcopenhagen.png'), 'http://www.itu.dk/', target: :_blank  
        = link_to image_tag('hybrid_matters/images/forumbox.png'), 'http://www.forumbox.fi/', target: :_blank
        = link_to image_tag('hybrid_matters/images/greenland.png'), 'http://kunsthallgrenland.no/', target: :_blank
        = link_to image_tag('hybrid_matters/images/nikolaj.png'), 'http://www.nikolajkunsthal.dk/', target: :_blank
        = link_to image_tag('hybrid_matters/images/malmo.png'), 'http://www.mah.se/', target: :_blank  
      .text-center Supporters
      .small-12.columns.partners.text-center 
        = image_tag('hybrid_matters/images/eu.png')
        = image_tag('hybrid_matters/images/cw.png')
        = image_tag('hybrid_matters/images/op.png')
        = image_tag('hybrid_matters/images/umu_logotyper.jpg')
        = image_tag('hybrid_matters/images/logo_teak.png')
        %br/
        = image_tag('hybrid_matters/images/austrian.jpg')
        = image_tag('hybrid_matters/images/artsiceland.png')
        = image_tag('hybrid_matters/images/taike_vaaka_v2.png')
        
  .row.expanded.contact_info
    .row.expanded
      .small-12.columns.text-center
        Contact
        %br/
        Bioartsociety | Kaasutehtaankatu 1, 00540 Helsinki, Finland | info@hybridmatters.net
        
= content_for :jquery do
  :plain
    $('footer .drawer').click(function() {
      $('footer .rest').slideToggle();
      
    });