.row
  .medium-8.columns.medium-offset-2
    - unless @work.activities.empty?
      
      .activity= raw @work.activity_list
    %h1.name= @work.title


.row
  .medium-8.columns.medium-offset-2
    %h3= raw @work.artist_names
- unless @work.photos.empty?
  .row
    .medium-7.columns.medium-offset-2.image_carousel
      - @work.photos.each do |i|
        .slide[i]
          = image_tag i.image.url(:standard).gsub('development', 'production')
          .thumb= image_tag i.image.url(:thumb).gsub('development', 'production')
.row
  .medium-8.columns.medium-offset-2
    .work_description= raw @work.description

  
- if can? :edit, @work
  .row
    .small-12.columns= link_to 'Edit work', edit_admin_work_path(@work), class: [:button, :tiny, :secondary]
    
- if @work.photos.size > 1
  = content_for :jquery do
    :plain
      $('.image_carousel').slick({infinite: true,
        arrows: false,
        slide: '.slide',
        variableWidth: false,
        autoplay: true,
        dots: true,
        customPaging: function(slick,index) {
           return slick.$slides.eq(index).find('.thumb').html() ;
        },
        autoplaySpeed: 2400,
        slidesToScroll: 1,
      });