
- lastslug = ''
%ul.dropdown.menu.project_menu{:'data-dropdown-menu' => ''}
  - unless @project.pages.where(is_project_overview: true).empty?
    %li= link_to @project.pages.where(is_project_overview: true).first.title, project_page_path(@project, @project.pages.where(is_project_overview: true).first),  class: [controller.controller_name == 'pages' && @page && (@page == @project.pages.where(is_project_overview: true).first || @page.descendant_of?(@project.pages.where(is_project_overview: true).first)) ? :active : false]
  - unless @project.posts.published.empty?
    %li= link_to 'blog', project_posts_path(@project), class: [(controller.controller_name == 'posts' || controller.controller_name == 'postcategories') && @page.nil? ? :active : false]
    - lastslug = 'blog'
  - unless @project.activities.published.empty?
    %li= link_to 'Events', project_events_path(@project), class: [controller.controller_name == 'activities' ? :active : false]
    - lastslug = 'events'
  - alreadyshown = []
  - @project.pages.roots.each do |page|
    - next if page.hide_from_menu
    - next if page.is_project_overview == true
    - next if page.leaf?
    %li
      = link_to page.title, project_page_path(@project, page), class: [(controller.controller_name == 'pages' || controller.controller_name == 'posts') && @page && (@page == page || @page.descendant_of?(page)) ? :active : false]
      - unless page.children.delete_if{|x| x.hide_from_menu == true }.empty?
        %ul.menu
          - page.children.delete_if{|x| (!x.projects.include?(@project) || x.hide_from_menu == true) }.each do |pp|
            - alreadyshown.push(pp)
            %li= link_to pp.title, project_page_path(@project, pp), class: [(controller.controller_name == 'pages' || controller.controller_name == 'posts') && @page && (@page == pp || @page.descendant_of?(pp)) ? :active : false]
  - @project.pages.reject{|x| x.root? }.each do |page|
    - next if page.hide_from_menu
    - next if page.is_project_overview == true
    - next if page.leaf?
    - next unless page.projects.include?(@project)
    - next if alreadyshown.include?(page)
    %li
      = link_to page.title, project_page_path(@project, page), class: [(controller.controller_name == 'pages' || controller.controller_name == 'posts') && @page && (@page == page || @page.descendant_of?(page)) ? :active : false]
      - unless page.children.delete_if{|x| (!x.projects.include?(@project) || x.hide_from_menu == true) }.empty?
        %ul.menu
          - page.children.delete_if{|x| (!x.projects.include?(@project) || x.hide_from_menu == true) }.each do |pp|
            %li= link_to pp.title, project_page_path(@project, pp), class: [(controller.controller_name == 'pages' || controller.controller_name == 'posts') && @page && (@page == pp || @page.descendant_of?(pp)) ? :active : false]

  - unless @project.calls.on_menu.active.empty?
    - @project.calls.on_menu.active.each do |call|
      %li= link_to call.name, call

