.search_results.row
  .result_header
    %h1
      - if @projects.empty? && @activities.empty? && @news.empty?
        No
      Search results for:
      %em= params[:searchterm]

  - unless @projects.empty?
    .row
      .small-12.columns.section_title Projects

    - @projects.each do |project|
      .row
        = link_to project, class: [:project] do

          .small-12.columns[project]
            .small-12.medium-2.project_icon.columns
              = image_tag project.image.url(:box).gsub(/development/, 'production')
            .small-12.medium-10.project_content.columns
              .title= project.name
              .years= project.year_range
              .description= project.description
  - unless @activities.empty?
    .row
      .small-12.columns.section_title Activities
    .row.small-up-1.medium-up-2.large-up-3
      - @activities.each do |activity|
        = link_to activity, class: [:activity, :columns] do
          .activity_image{style: "background: url(#{activity.photos.empty? ? theme_image_path('placeholder.png') : activity.photos.first.image.url(:box)}) center/cover no-repeat"}
            - if @project
              .hashtag
                = "##{@project.name}"
          .activity_content
            .title= activity.name
            .date= date_range(activity.start_at, activity.end_at)
            %p= activity.location
            .excerpt= truncate_html(sanitize(activity.description, tags: %w{b strong bold i italic em u underline br}), length: 150)

  - unless @news.empty?
    .row
      .small-12.columns.section_title News
    .row.small-up-1.medium-up-2.large-up-3{:'data-equalizer' => '', :'data-equalize-on' => 'medium'}
      - @news.sort_by{|x| [-x.relevance, -x.published_at.to_i] }.each do |post|
        = link_to post, class: [:post, :columns] do

          .post_image{style: "background: url(#{post.photos.empty? ? theme_image_path('placeholder.png') : post.photos.first.image.url(:box)}) center/cover no-repeat"}
            .hashtag
              = "##{post.node.name}"
          .post_content{:'data-equalizer-watch' => ''}
            .title= post.title
            .excerpt
              - if post.short_abstract
                = sanitize(post.short_abstract, tags: %w{b strong bold i italic em u underline br})
              -else
                = truncate_html(sanitize(post.body, tags: %w{b strong bold i italic em u underline br}), length: 150)
            .index_author
              - unless post.user.has_role?(:admin)
                Guest post
                |
                - if post.wordpress_author.blank?
                  = "#{post.user.name} |"
                - elsif !post.wordpress_author.blank? && post.user.email == 'erich.berger@bioartsociety.fi'
                  = "#{post.wordpress_author} |"
              = post.published_at.strftime('%-d %B %Y')

