!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = display_meta_tags :site => 'HYBRID MATTERs'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    - if controller.controller_name == 'partners'
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key}", :type => "text/javascript"}
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400italic,300,300italic,400", :rel => "stylesheet", :type => "text/css"}/
  %body
    - unless flash.empty?
      #flash
        .row
          .small-12.columns.text-center
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                = content_tag :div, msg, :id => "flash_#{name}"
    %header{class: "type" + [1,2,3].sample.to_s }
      .before
      .grid-container

      %nav.top-bar.sticky
        .hor-container
          .row

            .medium-2.columns.hide-for-small-only.social_icons
              = link_to image_tag('icon_fb.png'), 'https://www.facebook.com/groups/437255773056631/', target: :_blank
              = link_to image_tag('icon_twitter.png'), 'http://twitter.com/hybridmatters', target: :_blank
              = link_to image_tag('icon_post.png'), 'mailto:info@hybridmatters.net'
              
            .medium-6.large-4.small-centered.columns
              .row
                .small-4.columns.small-text-center= link_to 'About', page_path('about')
                .small-4.columns.small-text-center= link_to 'Partners', partners_path
                .small-4.columns.small-text-center.end= link_to 'Programme', page_path('programme')
          .row.down_arrow
            .medium-2.columns.hide-for-small-only
              &nbsp;
              - if controller.controller_name == 'calls'
                = image_tag 'selected_down.png'
              
            .medium-6.large-4.small-centered.columns
              .row.down_arrow
                .small-4.columns
                  &nbsp;
                  - if controller.controller_name == 'pages'
                    - if @page.slug == 'about'
                      = image_tag 'selected_down.png'

                .small-4.columns
                  &nbsp;
                  - if controller.controller_name == 'partners'
                    = image_tag 'selected_down.png'
                .small-4.columns 
                  &nbsp;
                  - if controller.controller_name == 'pages'
                    - if @page.slug == 'programme'
                      = image_tag 'selected_down.png'
                
                
      
    .main-container= yield
    %footer
      .row
        .medium-3.small-8.small-centered.medium-left.columns
          .row
            .small-12.columns.footer_title Nordic Cultural Event of the Year
          .row
            .small-12.columns= link_to image_tag('logo_norden.png'), 'http://norden.org/'
        .medium-9.columns.end
          .row
            .small-12.columns.footer_title.small-text-center Partners
          .row
            .small-12.columns.partners.small-text-center 
              = link_to image_tag('logo_bioarts.png'), 'http://www.bioart.fi/', target: :_blank
              = link_to image_tag('logo_copenhagen_uni.png'), 'http://www.itu.dk/', target: :_blank  
              = link_to image_tag('logo_forumbox.png'), 'http://www.forumbox.fi/', target: :_blank
              = link_to image_tag('logo_greenland.png'), 'http://kunsthallgrenland.no/', target: :_blank        
              = link_to image_tag('logo_nikolaj_kunsthall.png'), 'http://www.nikolajkunsthal.dk/', target: :_blank
              = link_to image_tag('logo_malmo_uni.png'), 'http://www.mah.se/', target: :_blank  
                     
    :javascript
      $(document).ready(function() { #{yield :jquery} });