%h1 Listing frontpage items

%table
  %thead
    %tr
      %th Image
      %th Smallblurb text
      %th Middleblurb text
      %th Thirdblurb text
      %th Url override
      %th Published

      %th
      %th

  %tbody
    - @frontitems.each do |frontitem|
      %tr
        %td
          = image_tag frontitem.wideimage.url, width: 300 rescue ''

        %td= frontitem.smallblurb_text

        %td= frontitem.middleblurb_text

        %td= frontitem.thirdblurb_text
        %td= frontitem.url_override

        %td= frontitem.published

        %td
          = link_to 'Edit', edit_admin_frontitem_path(frontitem), class: [:button, :tiny]
          = link_to 'Destroy', [:admin, frontitem], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:button, :tiny, :alert]

%br

= link_to 'New Frontitem', new_admin_frontitem_path
